<div class="container">
  <h2>Table</h2>

  <p>The .info class indicates a neutral informative change or action:</p>
  <table class="table table-bordered table-hover">
    <thead class="bg-primary">
    <tr>
      <th>#</th>
      <th>Stock</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody ng-repeat="stock in $parent.stockData">
    <tr style="background-color: #E8E8E8 " ng-init="arrow=2" ng-controller="ArrowCtrl">
      <td>{{$index +1}}</td>
      <td>{{stock.name}}</td>
      <td>{{stock.ltp}}<span ng-if="arrow===1" style="float: right;color: lime"
                             class="glyphicon glyphicon-arrow-up"></span> <span
        ng-if="arrow===0" style="float: right;color: red" class="glyphicon glyphicon-arrow-down"></span></td>
    </tr>
    </tbody>
  </table>
</div>
