<h2 align="center" ng-init="init()">Other Operations</h2>

<div class="jumbotron" ng-if="$parent.user === '' ">
  <p>Sorry, you must login to transact on this page :( </p>
</div>

<div class="jumbotron">

  <div class="row">
    <div class="col-sm-7">
      <p>Connect To Another Session</p>
    </div>
    <div class="col-sm-5">
      <div class="col-sm-5">
        <input type="text" ng-model="session"/>
      </div>
    </div>
  </div>
  <br/>
  <button type="button" ng-click="setSession()" class="btn btn-primary">Submit</button>

</div>


