<h2 align="center" ng-init="init()">Trading Window</h2>

<div class="jumbotron">

  <div class="row">
    <div class="col-sm-7">
      <p>Stock</p>
    </div>
    <div class="col-sm-5">
      <select ng-model="selectedStock">
        <option value="">Please Select</option>
        <option ng-repeat="stock in $parent.stockData" value="{{$index}}">{{stock.name}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7">
      <p>Team</p>
    </div>
    <div class="col-sm-5">
      <select ng-model="selectedTeam">
        <option value="">Please Select</option>
        <option ng-repeat="team in $parent.playerData" value="{{$index}}">{{team.name}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7">
      <p>Transaction Type</p>
    </div>
    <div class="col-sm-5">
      <select ng-model="transactionType">
        <option value="">Please Select</option>
        <option value="Buy">Buy</option>
        <option value="Sell">Sell</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7">
      <p>Quantity</p>
    </div>
    <div class="col-sm-5">
      <input type="text" ng-model="selectedQuantity"/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7">
      <p>Price</p>
    </div>
    <div class="col-sm-5">
      <input type="text"  ng-model="selectedPrice"/>
    </div>
  </div>

  <br/>
  <button type="button" ng-click="transact()" class="btn btn-primary">Submit</button>

</div>
